@import url(../../../app.component.scss);

.photos-container, .mission-subtitle, .inputs-container, .select-container {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
}
.photos-container {    
    justify-content: flex-start; padding: 4em 0 1em 0;

    .mission-subtitle, .dropdown-toggle { 
        background: rgba(252, 60, 35, .8) !important; backdrop-filter: blur(2px) !important; -webkit-backdrop-filter: blur(2px) !important;
    }
    .mission-subtitle {
        flex-wrap: wrap; flex-direction: row;
        color: var(--white); padding: 0.5rem 0.5rem 0.7rem 0.5rem;
        p {
            font-size: 15px; line-height: 2; font-weight: bold;
            border-right: 3px double rgba(255, 255, 255, 0.35); 
            &:last-child { border-right: none; }
            span {
                font-size: 14px; letter-spacing: 1px; font-weight: normal; text-transform: capitalize;
                user-select: all; cursor: copy;
                &::selection { background: var(--smookyBlack); }
            }         
        }
    }

    .inputs-container, .photo-info, .container-title, .select-container {
        backdrop-filter: blur(3px) !important; -webkit-backdrop-filter: blur(3px) !important;
        background-color: rgba(255, 255, 255, 0.15); 
    }

    .inputs-container {
        flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;
        padding: 0 0.5rem 1em 0.5rem;
        label, input { height: 35px; font-weight: bold; }
        label {
            margin: 0 5px 0 0; 
            font-size: 18px; line-height: 2; color: var(--white);         
            img { margin-bottom: 5px; filter: drop-shadow(0 0 2px var(--smookyBlack)); }   
        }
        input {
            width: 250px;
            font-size: 15px; font-weight: normal; letter-spacing: 1px;
            border-bottom: 1px solid rgba($color: white, $alpha: .75); color: var(--white);
            &::placeholder {
                font-size: 14px; font-style: italic; 
                color: rgba($color: #FFF, $alpha: 0.6);
            }      
        }
    }
    
    .select-container {
        z-index: 2;
        padding-bottom: 1em; border-bottom: 5px double var(--oriolesOrange); 
        .dropdown-toggle {
            font-size: 14px; font-weight: bold; text-transform: none;
            &::after { vertical-align: .2em; }
        }       
        .dropdown-menu {
            li {
                border-bottom: 1px dotted var(--smookyBlack);
                &:last-child { border-bottom: 0; }
                a {
                    font-size: 13px;
                    color: var(--smookyBlack); transition: .25s; cursor: pointer;
                    &:hover { color: var(--oriolesOrange); }
                }
            }
        }                
        small { font-size: 10px; letter-spacing: 1px; color: white; }
    }
}

@media screen and (max-width: 1060px) {
    .photos-container {
        .mission-subtitle {
            padding: .35rem;
            p {
                font-size: 13px; 
                span { font-size: 12px; }
            }
        }
        .container-title { margin-top: 0; }
    }
}
@media screen and (max-width: 990px) {
    .photos-container {       
        .inputs-container {
            padding: 0 1em auto;
            label, input { width: 45%; margin: 0; }
            label:nth-child(3), input:nth-child(4) { margin-top: 15px; }
            label { font-size: 16px; } input { font-size: 13px; }
        }        
    }
    
}
@media screen and (max-width: 700px) {
    .carousel {
        .carousel-inner {
            .carousel-item { width: 100%; padding: 1em; }
        }
    }
}
@media screen and (max-width: 480px) {
    .photos-container {
        .mission-subtitle {
            align-items: flex-start; flex-direction: column;
            margin: 5px 0 15px 0;
            p { border: 0; }
        }
        .inputs-container {
            label { font-size: 14px; }
        }
    }    
}