<app-header></app-header>

<div class="photos-container">
    <h1 class="title">Misión: Rover {{rover}} &nbsp;<img src="/rover.png"></h1>
    <div class="mission-subtitle">
        <p>Lanzamiento: <span>{{manifest.launch_date}}</span></p>
        <p>Aterrizaje: <span>{{manifest.landing_date}}</span></p>
        <p>Último día terrestre: <span>{{manifest.max_date}}</span></p>
        <p>Último día marciano: <span>{{manifest.max_sol}}</span></p>
        <p>Estatus: <span>{{manifest.status}}</span></p>               
    </div>
    
    <!-- Inputs -->
    <span class="container-title">1. Ingresa una fecha terrestre o día marciano para mostrar las imágenes capturadas en ese periodo, recuerda que existe la posibilidad 
      de que el rover {{rover[0].toUpperCase()+rover.slice(1)}} no haya tomado ninguna fotografía en la fecha que ingreses:</span>    
      <div class="inputs-container">
        <label for="earth-date-input" class="form-label"><img src="/earth.png"> Fecha terrestre:</label>
        <input type="text" id="earth-date-input" class="form-control" max="{{manifest.max_date}}" min="{{manifest.landing_date}}" [(ngModel)]="earthDateValue" 
            (keyup)="earthDatePrevention($event)" placeholder="Ej. {{manifest.landing_date}}" onblur="(this.type='text')" onfocus="(this.type='date')"
            (ngModelChange)="solDateValue = -1; solDate.value = ''"> 
        
        <label for="mars-date-input" class="form-label"><img src="/mars.png"> Día marciano:</label>
        <input type="number" #solDate id="mars-date-input" class="form-control" max="{{manifest.max_sol}}" min="0" placeholder="Ej. 1000" 
            [(ngModel)]="solDateValue" (keyup)="martianDatePrevention($event)" (ngModelChange)="earthDateValue = ''">             
    </div>

    <!-- Cameras List -->
    <span class="container-title sub">2. Selecciona cualquier cámara del rover para mostrar las imágenes, si la que elegiste no capturó nada en ese momento, 
      intenta seleccionando otra o ingresa una fecha diferente:<small>&#xf05a; Puede que algunas imágenes tarden un poco en cargar, si es el caso, espere un momento después de haber seleccionado la cámara.</small>
    </span>
    <div class="select-container">
        <div class="input-group" *ngIf="rover === 'spirit' || rover === 'opportunity';else curiosity">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="allowClick">Lista de cámaras:&nbsp;</button>
            <ul class="dropdown-menu" id="twinsMenu" >
                <li *ngFor="let item of twinsCameras; let i = index"><a class="dropdown-item" (click)="onDropdownClick('twinsMenu', i)">• {{item}}</a></li>
            </ul>
        </div>   
        <ng-template #curiosity>
          <div class="input-group">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" [disabled]="allowClick">Lista de cámaras:&nbsp;</button>
            <ul class="dropdown-menu" id="curiosityMenu">
              <li *ngFor="let item of curiosityCameras; let i = index"><a class="dropdown-item"(click)="onDropdownClick('curiosityMenu', i)">• {{item}}</a></li>
            </ul>
          </div>
        </ng-template>   
    </div>    
    
    
    <!-- Photos Container -->    
    <span class="container-title" style="padding: 5px;" *ngIf="photos$.length >= 1;else photosNotFound">Lista de imágenes capturadas por la cámara {{cameraValue.toUpperCase()}}
      del rover {{rover[0].toUpperCase()+rover.slice(1)}} en la fecha ingresada: 
      <small>Presiona las teclas &#x2190; y &#x2192; o los botones a los lados para ver todas las imágenes</small>
    </span>

    <span class="error-message" *ngIf="solDateValue === -1 || !solDateValue && earthDateValue === '' || !earthDateValue">{{errorMessage}}</span>

    <div id="marsPhotosCarousel" class="carousel slide carousel-fade">
      <div class="carousel-indicators">
        <!--* Agrega la clase 'active' al primer elemento y asigna el 'index' a los atributos correspondientes -->
        <button type="button" data-bs-target="#marsPhotosCarousel" *ngFor="let photos of photos$; let i = index" attr.data-bs-slide-to="{{i}}" 
          [ngClass]="i == 0 ? 'active' : ''" aria-current="true" attr.aria-label="Slide {{i}}">
        </button>        
      </div>    
      <div class="carousel-inner">
        <!--* Agrega la clase 'active' solamente al primer elemento -->
        <div *ngFor="let photo of photos$; let i = index" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
          <span class="photo-info">{{cameraValue.toUpperCase()}} | {{photo.earth_date}} | Sol: {{photo.sol}}</span>
          <img src="{{photo.img_src}}" class="d-block w-100">
        </div> 
      </div>   
      <button class="carousel-control-prev" type="button" data-bs-target="#marsPhotosCarousel" data-bs-slide="prev">&#xf053;</button>
      <button class="carousel-control-next" type="button" data-bs-target="#marsPhotosCarousel" data-bs-slide="next">&#xf054;</button> 
    </div>

    <!-- Images Not Found Text -->
    <ng-template #photosNotFound>
        <span class="container-title" style="padding-bottom: 0 !important;">{{notFoundText}}</span>
    </ng-template>
    
</div>