@import url(../../../app.component.scss);

.photos-container, .mission-subtitle, .inputs-container, .select-container {
    display: flex; align-items: center; justify-content: center; flex-direction: column;
}
.photos-container {
    width: 100%; min-height: 100vh; position: relative; 
    justify-content: flex-start; padding: 4em 0 1em 0;
    .mission-subtitle, .dropdown-toggle { 
        background: rgba(252, 60, 35, .8) !important; backdrop-filter: blur(2px) !important; -webkit-backdrop-filter: blur(2px) !important;
    }

    .mission-subtitle {
        width: 100%; flex-wrap: wrap; flex-direction: row;
        text-align: center; color: var(--white);
        padding: 0.5rem 0.5rem 0.7rem 0.5rem; text-align: center; color: var(--white);
        p {
            font-size: 15px; line-height: 2; font-weight: bold;
            border-right: 3px double var(--midnightBlue); padding: 0 1em;
            &:last-child { border-right: none; }
            span {
                font-size: 14px; letter-spacing: 1px; font-weight: normal; text-transform: capitalize;
                user-select: all; cursor: copy;
                &::selection { background: var(--smookyBlack); }
            }         
        }
    }

    .container-title { padding-bottom: 1em; border-bottom: 0 !important; } .sub { padding-top: 0.5rem; padding-bottom: 0.75rem; }

    .inputs-container, .photo-info, .container-title, .select-container, .error-message {
        backdrop-filter: blur(2px) !important; -webkit-backdrop-filter: blur(2px) !important;
        background-color: rgba(255, 255, 255, 0.15); 
    }
    .inputs-container, .select-container { border-bottom: 5px double var(--oriolesOrange);  }

    .inputs-container {
        width: 100%; flex-direction: row; flex-wrap: wrap;
        padding: 0 0.5rem 1em 0.5rem; text-align: center;          
        label, input { height: 35px; font-weight: bold; }
        label {
            display: ruby; margin: 0 5px 0 0;
            font-size: 18px; line-height: 1.75; color: var(--white);         
            img { margin-bottom: 5px; filter: drop-shadow(0 0 2px var(--smookyBlack)); }   
        }
        input {
            width: 250px;
            font-size: 15px; text-align: center; font-weight: bold; 
            background-color: rgba($color: white, $alpha: .75); color: var(--smookyBlack) !important;
            margin: 0 45px 0 0; border-radius: 5px; padding: 0 5px; cursor: pointer;
            &:last-child { margin: 0; }     
            &::placeholder {
                font-size: 13px; font-weight: normal;
                color: var(--oriolesOrange); opacity: .5;
            }       
        }
    }
    
    .select-container {
        width: 100%; padding-bottom: 1em; z-index: 2;
        .input-group {
            width: fit-content;            
            .dropdown-toggle { font-size: 14px; font-weight: bold; text-transform: none; color: var(--white); }
            .dropdown-menu {
                z-index: 999;
                li {
                    z-index: 999;
                    border-bottom: 1px dotted var(--smookyBlack);
                    &:last-child { border-bottom: 0; }
                    a {
                        font-size: 13px;
                        color: var(--smookyBlack); transition: .25s; cursor: pointer;
                        &:hover { color: var(--oriolesOrange); }
                    }
                }
            }            
        }
    }
}
