/* Navbar */
nav, .side-nav {
    display: inline-table;
    backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px);
    background: rgba(186, 30, 104, .8); color: white; border-bottom: 2px solid var(--oriolesOrange);     

    .nav-wrapper {
        display: inline-flex; vertical-align: middle; justify-content: right;
        line-height: 5;      
        .nav-text { 
            left: 0; border-right: 0;
            font-size: 9px; letter-spacing: -0.5px;
            img { width: 60px; transition: all .35s; }
        }
        .right { padding-left: 8em !important; }  
    }     
}
/* Side Navbar */
.side-nav {
    // padding: 1em;
    border-left: 2px solid var(--oriolesOrange);     
    li {
        padding: 1.5rem 1em; cursor: pointer;
        border-bottom: 2px solid rgba(252, 60, 35, .35); border-right: 0;
        &:last-child { border-bottom: 0; }
        a { 
            height: auto; padding: 0; 
            color: #FFF;
        }
    }   
}

/* Globales */
li, .nav-text {
    border-right: 4px double rgba(252, 60, 35, .35);
    &:last-child { border-right: 0; }
    &:hover img { transform: rotate(10deg); scale: 1.1; }
    a { 
        font-size: 12px; font-weight: bold; text-transform: uppercase;
        img { 
            width: 30px !important; height: 30px !important;
            transition: all .35s;
            margin: 0 5px 3px 0; filter: drop-shadow(0 0 2px var(--smookyBlack));
        }
    }
}  

@media only screen and (max-width: 1260px) {
    .visible-list { display: none !important; }
    .button-collapse { display: initial !important; }
}
@media only screen and (max-width: 930px) {
    .side-nav {
        width: 80% !important;        
    }
}