@import url(../../app.component.scss);

.card-container {
    min-height: 100vh;
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: row;    
    padding: 4.5rem 0 1em 0;

    .card {
        width: 650px;
        background-color: transparent; color: white;
        border: 2px solid var(--roseRed);
        .card-image {
            background-color: rgba($color: #0E0E0E, $alpha: 0.75);
            img, iframe { 
                max-height: 400px; object-fit: cover;
                border-radius: 5px 5px 0 0; border-bottom: 2px solid var(--roseRed); 
            }

            .img-data {
                width: 100%; position: absolute; bottom: 0; left: 0;
                align-items: center; justify-content: space-between;
                border-top: 1px dashed rgba(255, 255, 255, 0.5);

                .card-title { 
                    position: relative;
                    font-size: 18px; font-weight: bold; 
                } 
                #img-date { font-size: 14px; font-weight: bold; }
            }                       
        }
        .card-content {
            backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px);
            background-color: rgba(255, 255, 255, 0.25);

            .text { font-size: 13px; }
            .text, .copyright {
                text-align: justify; line-height: 1.85; font-weight: 500;
            }
            .copyright {  
                font-size: 12px;              
                border-bottom: 1px dashed rgba(255, 255, 255, 0.5);

                p { text-align: justify;}
            }
        }
        .card-action {
            display: flex; align-items: center; justify-content: space-between;
            background-color: rgba(186, 30, 104, 1); color: white !important;
            a {
                font-size: 14px; text-decoration: none !important; text-transform: none !important; font-weight: bold;
                color: white !important; transition: 0.35s !important;
                &:hover { font-weight: normal !important; }                
            }            
        }        
    }
}

@media screen and (max-width: 768px) {
    .card-container {
        padding-inline: 1.5rem;
        .card { 
            margin-top: 2.5rem; 
            .card-image {
                .img-data {
                    .card-title { font-size: 14px; }
                    #img-date { font-size: 12px; font-weight: bold; }
                }
            }            
            .card-content, .card-action {
                .text { font-size: 12px; }
                .text, .copyright { line-height: normal; }
            }
            .card-action { 
                // padding: 0.75rem; 
                flex-wrap: wrap; justify-content: center; gap: 1rem;
                a { font-size: 12px; }
            } 
        }
    }    
}
