@import url(../../app.component.scss);

.epic-container {
    display: flex; align-items: center; justify-content: center; flex-wrap: wrap; flex-direction: row;
    position: relative; width: 100%; min-height: 100vh; 
    padding: 4em 0 0 0;

    .container-title {
        backdrop-filter: blur(2px) !important; -webkit-backdrop-filter: blur(2px) !important;
        background-color: rgba(255, 255, 255, 0.15); 
    }

    .page-link {
        text-decoration: none; line-height: 2;
        border-bottom: 0; border-top: 5px double var(--oriolesOrange); 
        margin: 10px 0 auto; padding: 10px 0; transition: all 0.35s;
        &:hover { font-weight: normal; }
    }
   
    .carousel-item {
        width: 550px;                
        .photo-info, .caption { font-size: 10px !important; }
        .caption { bottom: 5px !important; top: revert !important; }
    }   
}

@media screen and (max-width: 670px) {
    .container-title { margin-top: 3.25rem; }
    .carousel {
        padding-inline: 1em;
        .carousel-inner {
            .carousel-item { width: 100%; }
        }
    }
}