@import url(../../app.component.scss);

.iss-container {
    display: flex; align-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;
    position: relative; width: 100%; min-height: 100vh;
    padding: 4em 0 1em 0;   
    .container-title {
        backdrop-filter: blur(2px) !important; -webkit-backdrop-filter: blur(2px) !important;
        background-color: rgba(255, 255, 255, 0.15); 
    } 

    iframe {
        width: 80%; height: 550px;
        margin-top: 1em; border-radius: 5px; border: 2px solid var(--roseRed);
    }       
}

@media screen and (max-width: 1095px) {
    .iss-container {
        .container-title { padding-inline: 1em; margin-top: 0; }
    }    
}
@media screen and (max-width: 732px) {
    .iss-container {
        padding-inline: 1em;
        .container-title { margin-top: 2.25rem; }
        iframe { width: 100%; }
    }
}