<app-header></app-header>

<div class="iss-container">
    <h1 class="title"><img src="ISS-2.png"> Rastrea la posición actual de la Estación Espacial Internacional en tiempo real <img src="/ISS.png"></h1>

    <span class="container-title">Actualmente se encuentra en las coordenadas: {{lat}} {{latText}}, {{lon}} {{lonText}}:
        <small>&#xf05a; Puedes mover el mapa y ajustar el zoom. Para actualizar la información, simplemente coloca el puntero &#xf245; sobre el mapa</small>        
    </span>  
    
    <iframe (mouseenter)="getIssCurrLoc()" [src]="src|safe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>    
    
</div>
