<app-header></app-header>

<div class="rovers-cards-container">   
    <h1 class="title"><img src="/rover.png">&nbsp; Selecciona un rover para explorar las imágenes capturadas durante su misión en Marte &nbsp;<img src="/mars.png"></h1>

    <div class="card">
        <div class="card-image">
            <img class="img-shadow" src="/curiosity.webp" (click)="getSelectedRover('curiosity')">
        </div>    
        <span class="card-title">Rover Curiosity <small>&#xf7bf; 2012 – &#xf110; Presente</small></span>
    </div>

    <div class="card">
        <div class="card-image">
            <img class="img-shadow" src="/perseverance.webp" (click)="getSelectedRover('perseverance')">
        </div>    
        <span class="card-title">Rover Perseverance <small>&#xf7bf; 2021 – &#xf110; Presente</small></span>
    </div>        
</div>