<app-header></app-header>

<div class="rovers-cards-container">   
    <h1 class="title"><img src="/rover.png">&nbsp; Selecciona un rover para explorar las imágenes capturadas durante su misión en Marte &nbsp;<img src="/mars.png"></h1>

    <div class="card">
        <div class="card-image">
            <img class="img-shadow" src="/curiosity.webp" (click)="getSelectedRover('curiosity')">
        </div>    
        <span class="card-title">
            Rover Curiosity<small><i class="fa-solid fa-satellite me-2"></i>2012 – Presente<i class="fa-solid fa-satellite-dish ms-2"></i></small>
        </span>
    </div>

    <div class="card">
        <div class="card-image">
            <img class="img-shadow" src="/perseverance.webp" (click)="getSelectedRover('perseverance')">
        </div>    
        <span class="card-title">
            Rover Perseverance<small><i class="fa-solid fa-satellite me-2"></i>2021 – Presente<i class="fa-solid fa-satellite-dish ms-2"></i></small>
        </span>
    </div>        
</div>